html {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

.page-template-default {
    .content-area {
        margin: 16em auto;
        max-width: 80em;
    }
    .entry-header {
        .entry-title {
            font-size: 3.625em !important;
            margin-bottom: 2em;
        }
    }

    .entry-header, .entry-content {
        max-width: 1024px;
        margin: 0px auto;
    }
}



.hero {
    .hero-image {
        margin: 0 auto;
    }

}
.home {
    .hero {
        &::after {
            @include linear-gradient(180deg,  rgba(0, 0, 0, 0.75) 0px, transparent 75%, $fallback: transparent);
            content: "";
            left: 0;
            padding: 20px 0;
            position: absolute;
            right: 0;
            bottom: -40px;
            z-index: 9999;
        }
    }
}

.hero {
    background: #000000 none repeat scroll 0 0;

    .hero-caption {
        position: absolute;
        &.left {
            left: 0;
            top: 50%;      
            @include linear-gradient(90deg, #000000 0px, transparent 60%, $fallback: transparent);
            @include animation(fadeIn 3s);
            padding: 1% 3%;
            //opacity: .50;
            > h1, h2, h3, h4, h5, h6, p {
                text-align: left;
                max-width: 73.125em;
            }
            > h1 {
                margin-bottom: 0;
                @media (min-width: 981px) {
                    font-size: 5.625em !important;
                }
                @media (max-width: 980px) and (min-width: 481px) {
                    //font-size: 3.20873em !important;
                    text-align: center !important;
                }
                @media (max-width: 480px) {
                    //font-size: 2.20873em !important;
                    text-align: center !important;
                }

                font-weight: 700;
                margin-bottom: 0;
                text-transform: uppercase;
            }
            > h2 {
                font-family: 'Source Serif Pro', serif;
                @media (min-width: 981px) {
                    font-size: 1.50em !important;
                    margin-bottom: 0.25em;
                }
                @media (max-width: 980px) and (min-width: 681px) {
                    //font-size: 1.25em !important;
                    margin-bottom: 1em;
                    margin-top: 1em;
                    text-align: center !important;
                }
                @media (max-width: 680px) {
                    //font-size: 1.25em !important;
                    margin-bottom: 1em;
                    margin-top: 1em;
                    text-align: center !important;
                }
            }
            @media (min-width: 1281px) {
                transform: translate(0px,20%);
                z-index: 999;
                width: 100%;
                max-width: 100%;
            }

            @media (min-width: 981px) and (max-width: 1280px) {
                transform: translate(0%,-25%);
                max-width: 100%;
                width: 100%;
            }

            @media (min-width: 681px) and (max-width: 980px) {
                transform: translate(0%,-25%);
                max-width: 100%;
                width: 100%;
            }

            @media (max-width: 680px) {
                transform: translate(0%,-50%);
                max-width: 100%;
                width: 100%;
                padding: 3% 3% !important;
            }
            .btn-group {
                margin: 2em 0 0;
                @media (min-width: 981px) {
                    text-align: left;
                }                
                @media (max-width: 980px) {
                    text-align: none;
                }
            }
        }
    }
}

.hero {
    .about-caption {
        position: absolute;
        &.right {
            right: 0;
            top: 0;
            z-index: 999;
            // @include linear-gradient(90deg, #000000 0px, transparent 60%, $fallback: transparent);
            > h1, h2, h3, h4, h5, h6, p {
                text-align: center;
                @include animation(fadeIn 3s);
            }
            @media (min-width: 1441px) {
                max-width: 680px;
                transform: translate(-15%, 8em);
                width: 100%;
            }
            @media (min-width: 1025px) and (max-width: 1440px) {
                max-width: 680px;
                transform: translate(-15%,8em);
                width: 100%;
            }
            @media (min-width: 980px) and (max-width: 1024px) {
                max-width: 680px;
                transform: translate(-26%,8em);
                width: 100%;
            }
            @media (min-width: 681px) and (max-width: 980px) {
                max-width: 100%;
                transform: translate(0,5em);
                width: 100%;
                padding: 0 3%;
            }
            @media (min-width: 481px) and (max-width: 680px) {
                max-width: 100%;
                transform: translate(0,5em);
                width: 100%;
                padding: 0 3%;
            }

            @media (max-width: 480px) {
                max-width: 480px;
                padding: 2em 1em;
                transform: inherit;
                width: 100%;
            }


        }
    }
}
.venue_copy_box_1 {
    @include linear-gradient(to top, rgba(0,0,0,0.55), rgba(0,0,0,0));
    @media (min-width: 1281px) {
        left: 4.5%;
        width: 480px;
    }
    @media (min-width: 1025px) and (max-width: 1280px) {
        left: 4.5%;
        width: 40%;
        right: inherit;
        top: 4.5%;
    }
    @media (min-width: 981px) and (max-width: 1024px) {
        left: 2%;
        width: 50%;
        right: inherit;
        top: 2%;
    }
    @media (min-width: 681px) and (max-width: 980px) {
        left: 2%;
        width: 50%;
        right: inherit;
        top: 2%;
    }
    @media (min-width: 481px) and (max-width: 680px) {
        left: 2%;
        width: auto;
        right: 2%;
        top: 1%;
    }
    @media  (max-width: 480px) {
        left: 2%;
        width: auto;
        right: 2%;
        top: 1%;
    }
    padding: 1em;
    position: absolute;
    top: 10%;
}

.venue_copy_box_2 {
    //@include linear-gradient(to top, rgba(0,0,0,0.55), rgba(0,0,0,0));
    position: absolute;
    padding: 1em;
    bottom: 10%;
    width: 480px;

    @media (min-width: 1281px) {
        right: 4.5%;
        width: 480px;
    }
    @media (min-width: 1025px) and (max-width: 1280px) {
        right: 4.5%;
        width: 45%;
        left: inherit;
        bottom: 4.5%;
    }
    @media (min-width: 981px) and (max-width: 1024px) {
        right: 2%;
        width: 50%;
        left: inherit;
        bottom: 2%;
    }
    @media (min-width: 681px) and (max-width: 980px) {
        right: 2%;
        width: 50%;
        left: inherit;
        bottom: 2%;
    }
    @media (min-width: 481px) and (max-width: 680px) {
        right: 2%;
        width: auto;
        left: 2%;
        bottom: 1%;
    }
    @media (max-width: 480px) {
        right: 2%;
        width: auto;
        left: 2%;
        bottom: 1%;
    }
}

.section.video-section.non-parallax-window {
    @media (min-width: 680px) {
        max-height: 900px;
        overflow: hidden;
    }
}
.video-section {
    position: relative;

    .opacity-layer {
        @media (max-width: 680px){
            display: none;
        }
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 888;
        max-width: 100%;
        width: 100%;
        &.hide {
            top: 0;
            bottom: inherit;
            left: 0;
            right: 0;
        }
    }
    .text-layer {
        @media (min-width: 769px) {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 999;
            @include transform(translate(-50%, -50%));
            max-width: 800px;
            padding: 1em;
            width: 100%;
        }
        @media (max-width: 768px) {
            margin: 4em $mobile-left-padding 0;
        }
    }
    .hero-caption.white {
        left: 0;
        position: absolute;
        z-index: 999;
        @include linear-gradient(90deg, #000000 0px, transparent 60%, $fallback: transparent);
        @include animation(fadeIn 3s);
        padding: 1% 3%;
        @media (min-width: 769px) {
            width:100%; 
            top: 50%;
        }
        @media (max-width: 768px) {
            width:100%; 
            top: 50%;
        }
        > h1, h2, h3, h4, h5, h6, p {
            text-align: left;
            max-width: 73.125em;
        }
        > h1 {

            @media (min-width: 981px) {
                font-size: 5.625em !important;
                margin-bottom: 0;
            }
            @media (max-width: 980px) and (min-width: 481px) {
                font-size: 3.20873em !important;
                text-align: center !important;
            }
            @media (max-width: 480px) {
                font-size: 2.20873em !important;
                text-align: center !important;
            }

            font-weight: 700;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        > h2 {
            font-family: 'Source Serif Pro', serif;
            @media (min-width: 981px) {
                font-size: 1.50em !important;
                margin-bottom: 0.25em;
            }
            @media (max-width: 980px) and (min-width: 681px) {
                font-size: 1.25em !important;
                margin-bottom: 1em;
                text-align: center !important;
            }
            @media (max-width: 680px) {
                font-size: 1.25em !important;
                margin-bottom: 1em;
                margin-top: 1em;
                text-align: center !important;
            }
        }
    }
}
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    @media (max-width: 680px) {
        margin: 10em auto 0;
    }
    @media (max-width: 680px) {
        margin: 4em auto 3em;
    }
} 
.embed-container iframe,
.embed-container object,
.embed-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.section-header {
    //@include outer-container($max-width-single);

    @media (min-width: 769px){
        margin-bottom: 4em;
        padding-top: 4em;
    }
    @media (max-width: 768px){
        padding-left: $mobile-left-padding;
        padding-right: $mobile-right-padding;
        margin-top: 0;
        margin-bottom: 0;
    }
    position: relative;
    overflow: auto;
    h1, h2 {
        text-transform: uppercase;
    }
    /*    h2::before {
            bottom: 45px;
            content: "";
            height: 2px;
            position: absolute;
            @media (min-width:1281px){
                @include linear-gradient(to right, #ffffff 20%, transparent 20%, transparent 80%, #ffffff 80%,  $fallback: transparent);
                left: -4%;
                right: -4%;
            }
            @media (min-width:1025px) and (max-width:1280px){
                @include linear-gradient(to right, #ffffff 20%, transparent 20%, transparent 80%, #ffffff 80%,  $fallback: transparent);
                left: 3%;
                right: 3%;
            }
        }*/
}

.flex-layout.section {
    margin-bottom: 6em;
    margin-top: 6em;
}

.embed-container.gallery-pg {
    @media (min-width:1281px) {
        margin-top: 9.25em;
    }
    @media (min-width:981px) and (max-width:1280px) {
        margin-top: 5em;
    }
    @media (min-width:681px) and (max-width:980px) {
        height: 480px;
        margin-top: 5em;
    }
    @media (max-width:680px) {
        height: 680px;
        margin-top: 3.5em;
    }
}

.attachment {
    .image-attachment {
        margin-top: 14em;
    }
    .entry-header {
        text-align: center;
        h1.entry-title {
            text-align: center;
        }
    }
    .site-navigation {
        margin: 0 auto;
        overflow: auto;
        padding: 1em;
        text-align: center;
        .previous-image {
            float: left;
            text-align: center;
        }
        .next-image {
            float: right;
        }
    }
    .entry-content {
        text-align: center;
    }
}