//@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);
//@import url(https://fonts.googleapis.com/css?family=Raleway:700,600,500,400);
//@import url(https://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic);
//@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
//@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
//@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,700italic,400italic,300italic,300);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Neuton:400,700,800,400italic,300,200);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700);

@import "normalize";    
@import 'vendors/vendors';
@import 'plugins/plugins';
@import 'base/base';
@import 'layout/layout';
@import 'modules/modules';
@import 'utils/mixins';



@media (max-width: 768px) {
    .home .hero {
        margin-bottom: 3em;
    }
}

@media (max-width: 768px) {
    .mobile-no {
        @include mobile-no;
    }
    .mobile-yes {
        @include mobile-yes;
    }
}

.mobile-hide {
    display: none !important;
}

floor-plan {
    margin: 2em auto 0;
    width: 60%;
}

div.facebook .pp_description { color: #000; }
.parallax-window {
    background: transparent;
    overflow: hidden;
    @media (min-width: 980px) {
        height: 980px;
        background-position: center center !important;
    }
    @media (max-width: 780px) {
        height: 780px;
        background-position: center center !important;
    }
    @media (max-width: 680px) {
        height: 680px;
        background-position: center center !important;
    }
    @media (max-width: 480px) {
        height: 680px;
        background-position: center center !important;
    }
}

#About.parallax-window {
    @media (min-width: 980px) {
        height: 880px;
    }
    @media (max-width: 780px) {
        height: 780px;
    }
    @media (max-width: 680px) {
        height: 680px;
    }
    @media (max-width: 480px) {
        height: 680px;
    }
}

.parallax-window-venue {
    @media (min-width: 780px) {
        height: 1080px;
    }
    @media (max-width: 480px) {
        height: 680px;
    }
}
.main-nav.parallax-window {
    height: 60px;
    min-height: 60px;
    background-color: #000000;
}

.about.parallax-window {
    //height: 600px;
}


.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    max-width: 100%;
}

/*img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}*/



p .btn-primary {
    margin-top: 4em;
}

header .social-widget {
    padding: 4em 2em;
    @media (max-width: 1440px) {
        padding: 4em 1em;
    }
}

.home-figCaption {
    > h1, h2, h3, h4, h5, h6, p {
        text-align: left;
        @include animation(fadeIn 3s);
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;

    }
    > p {
        margin-bottom: 5%;

    }
    a.btn-primary {
        text-shadow: initial;
    }
    &.white {
        text-shadow: 4px 3px 6px #000;
    }
}

@include keyframes(fadeIn) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.black {
    > h1, h2, h3, h4, h5, h6, p {
        color: $pf-dark-grey;
    }
}
.white {
    > h1, h2, h3, h4, h5, h6, p {
        color: #fff;
    }
}

.am-key-logo .img-responsive {
    margin: 5% auto;
}



.fp-section {
    position: relative;
    /* Safari<=5 Android<=3 */
    /* <=28 */
    box-sizing: border-box; 
}

.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%; 
}

.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%; 
    /*    background-color: #ccc;
        opacity: 0.50;*/
}

@media (max-width: 680px) {
    .textwidget {
        text-align: center;
    }
}





.separator {
    background-color: #eaeaea;
    display: block;
    height: 1px;
    margin: 10px 0;
    position: relative;
    &.small {
        background-color: #303030;
        display: block;
        height: 2px;
        margin: 10px auto 20px;
        position: relative;
        width: 22px;
    }
}



.tags > span::before {
    content: ",";
    margin-right: 3px;
}
.tags > span:first-child::before {
    content: "";
}

.img-spacer {
    &.top {

        @media (min-width: 681px) {
            padding: 4.5% 0 1.5%;
        }
        @media (max-width: 680px) {
            padding: 4%;
        }
    }
    &.bottom {
        @media (min-width: 681px) {
            padding: 1.5% 0 4.5%;
        }
        @media (max-width: 680px) {
            padding: 4%;
        }
    }
    text-align: center;
    width: 100%;
    overflow: auto;
    img {
        margin: 0 auto;
    }
}


/**** Giga Gallery WP Plugin Overides ***/
.wysiwyg-row {
    .camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont {
        background: rgba(216, 216, 216, 0.1) none repeat scroll 0 0;
    }
}

.sc_our_team_panel .sc-right-panel .sc_team_icon-close, #sc_our_team_lightbox .sc_team_icon-close {
    color: #000000;
}