.btn-group {
    margin: 3em auto 3em;
    text-align: center;
    @media (max-width: 480px){
        a.btn {
            width: 90%;
            margin: 0 auto 1em;
        }
    }
    @media (min-width: 481px){
        a.btn {
            margin: 0 0.25em;
        }
    }
}

a[role=button] {
    display: inline-block;
    text-align: center;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: roboto condensed;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 500;
    padding: 0.5em 1em;
    /*    appearance: none;
        background-color: $button-primary-color;
        @include linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0px, 66%, rgba(69,73,77, 1));
        border: 0;
        border-radius: $base-border-radius;
        color: $button-primary-font-color;
        cursor: pointer;
        display: inline-block;
        font-family: $base-font-family-buttons;
        font-size: $base-font-size * 1.5;
        -webkit-font-smoothing: antialiased;
        font-weight: 800;
        line-height: 1;
        padding: $small-spacing $base-spacing;
        text-decoration: none;
        transition: background-color $base-duration $base-timing;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;*/
    &:hover,
        &:focus {
        background-color: shade($button-primary-color, 20%);
        color: #fff;
    }
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover {
            background-color: $action-color;
        }
    }
}

a.btn-secondary[role="button"] {
    background-image: none;
}

#{$all-buttons} {
    appearance: none;
    background-color: $button-primary-color;
    border: 0;
    border-radius: $base-border-radius;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: $base-font-family;
    font-size: $base-font-size;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 1;
    //@include linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0px, 66%, rgba(69,73,77, 1));
    padding: $small-spacing $base-spacing;
    text-decoration: none;
    transition: background-color $base-duration $base-timing;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &:hover,
        &:focus {
        background-color: shade($action-color, 20%);
        color: #fff;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover {
            background-color: $action-color;
        }
    }
}

.qbutton.white:hover {
    background-color: #ccc;
    border-color: #ccc
}
.qbutton.white {
    border-color: #ffffff;
    color: #ffffff;
}
.qbutton.small {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0 17px;
}
.qbutton, .load_more a, .blog_load_more_button a, #submit_comment, .drop_down .wide .second ul li .qbutton, .drop_down .wide .second ul li ul li .qbutton {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #303030;
    border-radius: 4px;
    box-sizing: initial !important;
    color: #303030;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    height: 39px;
    letter-spacing: 1px;
    line-height: 39px;
    margin: 0;
    outline: 0 none;
    padding: 0 23px;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    transition: color 0.1s linear 0s, background-color 0.1s linear 0s, border-color 0.1s linear 0s;

    white-space: nowrap;
    width: auto;
}

.btn {
    display: inline-block;
    text-align: center;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: roboto condensed;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 500;
    padding: 0.5em 1em;


    &.btn-black {
        background-color: #000000;
        color: #ffffff;
        &:hover {
            border: 1px solid #999999;
            color: #ccc;
        }
    }
    &.btn-white {
        background-color: #ffffff;
        color: #000000;
        &:hover {
            border: 1px solid #000000;
            color: #999;
        }
    }

}

.event-form-links {

    @media (min-width: 1281px) {
        transform: translate(172px, 157px) rotate(-90deg);
        position: absolute;
        right: 40px;
        top: 0;
    }
    @media (min-width: 1025px) and (max-width:1280px) {
        transform: translate(120px, 140px) rotate(-90deg);
        position: absolute;
        right: 15px;
        top: 0;
    }
    @media (min-width: 801px) and(max-width: 1024px) {
        transform: translate(80px,101px) rotate(-90deg);
        position: absolute;
        right: 0;
        top: 0;
    }
    @media (max-width: 800px) {
        transform: inherit;
        position: relative;
        right: inherit;
        top: inherit;
        width: 100%;
        margin-bottom: 2em;
    }
    .link {
        border: 1px solid #ffffff;
        display: inline-block;
        font-weight: 400;
        @media (min-width: 1025px) {
            min-width: 176px;
        }
        @media (min-width: 1025px) and (max-width: 1280px) {
            min-width: 145px;
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            min-width: 125px;
        }
        @media (min-width: 481px) and (max-width: 768px) {
            min-width: 48%;
            margin: 0 3px;
        }
        @media (max-width: 480px) {
            min-width: 46.5%;
            margin: 0 0 1em;
            width: 100%;
        }
        padding: 1em 1em;
        text-align: center;
        font-size: 1em;
        &.black {
            background-color: #000000;
            color: #ffffff;
            &:hover {
                border: 1px solid #999999;
                color: #ccc;
            }
        }
        &.white {
            background-color: #ffffff;
            color: #000000;
            &:hover {
                border: 1px solid #000000;
                color: #999;
            }
        }
    }
}
.wpforms-submit-container {
    button, input[type="button"], input[type="submit"] {
        background-color: #000000 !important;
        border: 0 none !important;
        border-radius: 4px !important;
        color: #ffffff !important;
        cursor: pointer !important;
        display: inline-block !important;
        font-family: "Roboto Condensed",Helvetica Neue,Helvetica,Arial,sans-serif !important;
        font-size: 1em !important;
        font-weight: 600 !important;
        height: auto !important;
        line-height: 1 !important;
        margin: 0 auto !important;
        padding: 0.75em 1.5em !important;
        text-decoration: none !important;
        transition: background-color 150ms ease 0s !important;
        vertical-align: middle !important;
        white-space: nowrap !important;
        width: 120px !important;
        &:hover {
            background-color: #999999 !important;
        }
    }
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}
