
fieldset {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    font-weight: 600;
    margin-bottom: $small-spacing / 2;
    padding: 0;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: $small-spacing / 2;
}

input,
select,
textarea {
    display: block;
    font-family: $base-font-family;
    font-size: $base-font-size;
    
}

#{$all-text-inputs},
select[multiple] {
    background-color: $base-background-color;
    border-bottom: 1px solid $white;
    border-left: transparent;
    border-top: transparent;
    border-right: transparent;
    border-radius: 0 ; //$base-border-radius;
    //box-shadow: $form-box-shadow;
    box-sizing: border-box;
    margin-bottom: $small-spacing;
    padding: $base-spacing / 3;
    transition: border-color $base-duration $base-timing;
    width: 100%;

    &:hover {
        border-color: shade($base-border-color, 20%);
    }

    &:focus {
        border-color: #cccccc;
        box-shadow: $form-box-shadow-focus;
        outline: none;
    }

    &:disabled {
        background-color: shade($base-background-color, 5%);
        cursor: not-allowed;

        &:hover {
            border: $base-border;
        }
    }
}

textarea {
    resize: vertical;
}           

[type="search"] {
    appearance: none;
}

[type="checkbox"],
[type="radio"] {
    display: inline;
    margin-right: $small-spacing / 2;
}

[type="file"] {
    margin-bottom: $small-spacing;
    width: 100%;
}

select {
    margin-bottom: $small-spacing;
    max-width: 100%;
    width: auto;
}

.boston-form-wrap, .baltimore-form-wrap, .omaha-form-wrap, .fresno-form-wrap {
    h1,h2,h3,h4,h5,p {
        color: #000000;
    }
    h4,h5,p {
        font-size: 0.85em;
    }
}

.wpforms-container  {
    .wpforms-field {
        overflow: auto;
        // background-color: #cccccc;
        margin-bottom: 1em;
    }
    .wpforms-field-sublabel {
        font-size: 0.75em;
        margin-top: 0.75em;
    }

    .wpforms-field-label-inline {
        float: left;
        margin-left: 0.5em;
        margin-right: 1em;
    }
    .wpforms-payment-price {
        float: left;
    }

    input, select, textarea {
        color: #000000 !important;
        padding: 0 6px !important;
    }

    .wpforms-field-payment-multiple,  .wpforms-field-checkbox {
        input[type="checkbox"], input[type="radio"] {
            float:left;
        }
    }
    .wpforms-field-description {
        color: #000000 ;
        padding-top: 15px;
        font-size: 0.90em;
    }
    .wpforms-field-sublabel.wpforms-sublabel-hide {
        display: none;
    }
   li .wpforms-field-label-inline {
        margin-left: 5px !important;
    }

}


input[type="search"] {
    border: 1px solid #ffffff;
}

html div#om-xqxzetejzdx2rmxe div#boston-optin {
   height: auto !important;
}

html div#om-sd0k4no3lqwiwpas div#baltimore-optin {
   height: auto !important;
}

html div#om-lcq8aj8vu627y6yr div#omaha  -optin {
   height: auto !important;
}


