//PixelFire Colors
$pf-dark-red:       #D02421;
$pf-dark-grey:      #252525;
$pf-darker-grey:      #1c1c1c;

// Colors
$white: rgb(255,255,255);
$black: #000000;
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $white;
$action-color: $blue;

//Buttons
$button-primary-color: #898989;
$button-primary-font-color: #000000;

// Change the grid settings
$column: 90px;
$gutter: 60px;
$grid-columns: 12;
$max-width: 95%; //85.625em;
$max-width-single: 80em;

//Override Bourbon Default Grid Settings
$fg-column: $grid-columns;
$fg-gutter: $gutter;

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
$medium-screen: 600px;
$large-screen: 960px;

$mobile-left-padding: 3%;
$mobile-right-padding: 3%;
$mobile-bottom-container-margin: 2em;

// Typography
$base-font-family:  "Roboto Condensed", Helvetica Neue, Helvetica, Arial, sans-serif; //$font-stack-system;
//$base-font-family:  'Bitter', serif;
//$base-font-family-alt: "Montserrat", sans-serif;
//$base-font-family-alt: "Cuprum", sans-serif;
$base-font-family-alt: 'Oswald', sans-serif;
$base-font-family-buttons: 'Neuton', serif;
$heading-font-family: $base-font-family-alt; //$base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 4px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $black;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 1px adjust-color(#ffffff, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

//Footer
$base-spacing: 1.5em !default;
$action-color: #477DCA !default;
$medium-screen: 40em !default;
$large-screen: 53.75em !default;
$footer-background: rgba(0, 0, 0, 0.50);// $pf-dark-grey;//desaturate(darken($action-color, 20%), 30%);

$footer-color: white;
$footer-link-color: transparentize($footer-color, 0.6);
$footer-disclaimer-color: transparentize($footer-color, 0.6);

//Grid
$gutter: 2em;
$refills-max-width: $max-width;

//Archives
$archive-list-background: rgba(0, 0, 0, 0.50);

//Navigation
$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$action-color: #477DCA !default;
$dark-gray: #252525 !default;
$large-screen: 1281px; //53.75em !default;
$navigation-position: absolute;
$navigation-zindex: 9999;
$navigation-padding: 1em;
$navigation-background: rgba(0,0,0,0.65);
$navigation-color: transparentize(white, 0.3);
$navigation-color-hover: white;
$navigation-height: 180px;
$navigation-nav-button-background: $action-color;
$navigation-nav-button-background-hover: lighten($navigation-background, 10%);
$navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
$navigation-search-background: lighten($navigation-background, 5);
$navigation-search-border: 1px solid darken($navigation-background, 5);
$navigation-active-link-color: transparentize(white, 0.5);
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 12em;
$horizontal-bar-mode: $large-screen;