.accordion-tabs-minimal {
    $base-border-color: #dcdcdc !default;
    $base-background-color: #fff !default;
    $base-spacing: 1.5em !default;
    $action-color: #477dca !default;
    $dark-gray: #333 !default;
    $medium-screen: 480px;//40em !default;
    $tab-link-color: #fff;
    $tab-border: 1px solid $base-border-color;
    $tab-active-background: $base-background-color;
    $tab-inactive-color: $base-background-color;
    $tab-inactive-hover-color: #c0c0c0;
    $tab-mode: $medium-screen;

    @include clearfix;
    line-height: 1.5;
    padding: 0;

    .tab-header-and-content {
        list-style: none;
        display: inline;
/*        @media (min-width: 480px) {
            display: inline;
        }*/
/*        @include media($tab-mode) {
            display: inline;
        }*/
    }

    .tab-link {
        //background-color: $tab-inactive-color;
        // border-top: $tab-border;
        color: #919191;
        display: block;
        
        @media (min-width: 769px) {
            padding: ($base-spacing / 2) $gutter;
        }
        @media (max-width: 768px) {
            padding: .75em 0.50em;
        }
            
        text-decoration: none;
        font-weight: 800;
        font-size: 1.25rem;
        text-transform: uppercase;
        display: inline-block;
/*        @media (min-width: 480px) {
            border-top: 0;
            display: inline-block;
        }*/

        &:hover {
            color: #919191;
        }

        &:focus {
            outline: none;
        }

        &.is-active {
            //border-bottom: 0;
            color: $tab-link-color;
/*            @media (min-width: 480px) {
                // border: $tab-border;
                //border-bottom-color: $tab-active-background;
                margin-bottom: -1px;
            }*/
        }
    }

    .tab-content {
        display: none;
        padding: $base-spacing $gutter;
        width: 100%;
float: left;
/*        @media (min-width: 480px) {
            //border-top: $tab-border;
            
        }*/
    }

    .btn-group {
        margin: 4rem auto 1rem;
    }
}


