.page-template-calendar-page-template .section.hero {
    margin-bottom: 6rem;
}

#tribe-events-content {
    .tribe-events-calendar {
        td {
            &.tribe-events-othermonth {
                background: #7f7f7f none repeat scroll 0 0;
            }
        }
    }
}

.cal-container {
    margin: 0 auto;
    @media(min-width: 1025px) {
        max-width: 1920px;
    } 
    @media(max-width: 1024px) {
        //max-width: 980px;
    } 
}

.single {
    .type-tribe_events {
        overflow: auto;
    }
}

.home {
    .type-tribe_events {
        //background-color: rgba(0, 0, 0, 0.75);
        float: left;
        @media (min-width: 769px) {
            width: 25%;
        }
        @media (min-width: 481px) and (max-width: 769px) {
            width: 50%;
        }
        @media (max-width: 480px) {
            width: 100%;
        }
        .attachment-instagram-square {
            max-height: 480px;
            transform: scale(1);
            transition: transform 0.3s ease-in-out 0s;

        }
        &:nth-child(4n+1) {
            clear: left;
        }
    }
}



#tribe-events-pg-template {

    @media (min-width: 769px) {
        margin: 14rem auto 6em;
    }
    @media (max-width: 768px) {
        margin: 7rem auto 6em;
    }
    max-width: 1280px;
}

#tribe-events-bar form[name="tribe-bar-form"] {
    background: rgba(0, 0, 0, 0.5);
    .tribe-bar-views-inner {
        background: rgba(255, 255, 255, 0.25);
    }
}

#tribe-bar-views {
    .tribe-bar-views-list {
        .tribe-bar-views-option {
            a {
                background: rgba(255, 255, 255, 0.75);
            }
        }
    }
}

.tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"] > a {
    color: #000 !important;
}


.tribe-events-month {
    .tribe-events-calendar {
        td {
            background: rgba(0, 0, 0, 0.75);
            &.tribe-events-othermonth {
                background: rgba(204, 204, 204, 0.32);
            }
            &.tribe-events-past {
                .tribe-events-viewmore a {
                    opacity: 0.85;
                }
            }
            &.tribe-events-othermonth {
                .tribe-events-month-event-title a {
                    color: #fff;
                    opacity: 1;
                }
            }
        }
    }
}

.tribe-events-calendar {
    .tribe-events-event-thumb {
        text-align: center;
        .wp-post-image {
            margin: 5% auto 0;
            max-width: 150px;
            width: 100%;
        }
    }
}


.single-tribe_events {
    .tribe-events-event-meta {
        background: rgba(0,0,0,0.50);
    }
}
.type-tribe_events {
    .tribe-mini-calendar-event {
        border-bottom: initial;
        position: relative;
        margin: 0;
        padding: 0;
        .list-info {
            width: initial;
            margin: 0;
            .tribe-events-location {
                display: none;
            }
            .tribe-events-event-image {
                transition: transform 0.4s ease 0s;
                &:hover {
                    transform: scale(1.25);
                }
                > a {
                    display: block;
                } 
            }
            .tribe-events-title {
                color:#fff;
                font-size: 14px;
                font-weight: bold;
                left: 50%;
                line-height: 18px;
                margin-bottom: 10px;
                margin-top: 0;
                position: absolute;
                text-align: center;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 999;
                display:none;
                a {
                    color:#fff;
                    &:hover {
                        color: darken(#fff, 50%);
                    }
                }
            }
            .tribe-events-duration {
                color:#fff;
                left: 50%;
                position: absolute;
                text-align: center;
                top: 65%;
                transform: translate(-50%, -65%);
                display:none;
            }
        }
        .list-date {
            left: 0;
            position: absolute;
            top: 0;
            margin: 0;
            z-index: 999;
        }
    }
}

.tribe-events-widget-link {
    clear: both;
    margin: 0 auto 6em;
    text-align: center;
    width: 100%;
    overflow: auto;
    padding-top: 4em;
    a {
        background-color: #000;
        display: inline-block;
        text-align: center;
        border: 1px solid #fff;
        color: #fff;
        font-family: roboto condensed;
        font-size: 1.5em;
        font-style: normal;
        font-weight: 500;
        padding: .5em 1em;
    }
}

/******* Begin -- Custom Post Type Event Calendar BXSlider styling ***/

.calendar {
    position: relative;
    min-height: 245px;
    .bx-wrapper::after {
        @include linear-gradient(180deg,  rgba(0, 0, 0, 0.75) 0px, transparent 75%, $fallback: transparent);
        content: "";
        left: 0;
        padding: 20px 0;
        position: absolute;
        right: 0;
        bottom: -40px;
        z-index: 9999;
    }
    .section-header {
        @media (max-width: 980px) {
            h1 {
                margin-top: 0.55em;
                margin-bottom: 1em;
            }
            h2 {
                display: none;
            }
        }
    }
}

.bx-wrapper::before {
    @include linear-gradient(180deg,  rgba(0, 0, 0, 0.75) 0px, transparent 75%, $fallback: transparent);
    content: "";
    left: 0;
    padding: 20px 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
}

.home .bxslider .slide-image {
    @media (min-width: 1025px) {
        max-height: 480px;
        width: auto;
    }
}

.bxslider {
    .slide img {
        transform: scale(1);
        transition: transform 0.3s ease-in-out 0s;
    }
    .image {
        backface-visibility: hidden;
        display: block;
        overflow: hidden;
        position: relative;
        transition: transform 0.4s ease 0s;
        width: 100%;
    }
    .image_pixel_hover {
        background-color: rgba(0, 0, 0, 0);
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.3s ease-in-out 0s;
        width: 100%;
        z-index: 100;
    }
    .slide {
        .slide img {
            transform: scale(1);
            transition: transform 0.3s ease-in-out 0s;
        }
        .image_holder {
            display: block;
            position: relative;
            .separator.small {
                background-color: #ffffff;
                margin: 10px auto;
            }
        }
        &:hover {
            .image_pixel_hover {
                background-color: rgba(21, 21, 21, 0.78);
            }
        }

        img {
            display: block;
            width: 100%;
        }
        .hover_feature_holder {
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 101;
        }
        .hover_feature_holder_outer {
            display: table;
            height: 100%;
            opacity: 1 !important;
            position: relative;
            top: 0;
            width: 100%;
        }
        h3 {
            color: #ffffff;
            font-size: 17px;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 1.30435em;
            text-transform: uppercase;
        }
    }
    .slide:hover img {
        transform: scale(1.2);
    }
}
.slide:hover .hover_feature_holder_inner {
    opacity: 1;
}
.slide .hover_feature_holder_inner {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: #ffffff;
    display: table-cell;
    height: 100%;
    opacity: 0;
    padding: 0 5%;
    text-align: center;
    top: 0;
    transition: all 0.3s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
.slide .hover_feature_holder_inner .portfolio_title {
    /*    letter-spacing: 1px;
        text-transform: uppercase;*/
}
.slide .hover_feature_holder_inner .portfolio_title a {
    color: #ffffff;
}

.slide .hover_feature_holder_inner .qbutton:hover {
    background-color: #333333;
    border-color: #333333;
}
.slide .hover_feature_holder_inner .qbutton {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 24px;
}

.tribe-event-description {
    .view-full-post-btn {
        display: block;
        padding: 1em;
        color: #21759b;
        text-decoration: underline !important;;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .tribe-bar-disabled {
        margin-right: 3%;
    }
}
@media screen and (max-width: 768px) {
    .tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-], .tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-] a, .tribe-events-calendar .tribe-events-past.tribe-events-has-events:after, .tribe-events-calendar td.mobile-active {
        background-color: #fff;
        color: #fff;
    }
}

@media screen and (max-width: 768px){
    .tribe-events-calendar .tribe-events-has-events:after {
        background-color: #fff;
    }
    .single-tribe_events .tribe-events-schedule {
        background: inherit; 
        border: none; 
        margin: 18px 0 8px; 
        padding: 0; 
    }
}

.tribe-events-single, .tribe-events-month {
    @media screen and (max-width: 1280px){
        @include outer-container;
    }
}
.t-single-col-left {
    @media screen and (min-width: 481px){
        @include span-columns(6);
    }
    @media screen and (max-width: 480px){
        @include span-columns(12);
        @include omega();
        margin-bottom: 4em;
    }
}
.t-single-col-right {
    @media screen and (min-width: 481px){
        @include span-columns(6);
        @include omega();
    }
    @media screen and (max-width: 480px){
        @include span-columns(12);
        @include omega();
    }
}

.t-single-col-12 {
    @include span-columns(12);
    @include omega();
}