.error404 {
    .widget {
        margin-bottom: 4em;
        &:last-child {
            margin-bottom: 0;
        }
        select {
            color: #000;
        }
    }
    .entry-content {
        input[type="search"] {
            color: #fff;
        }
    }
}
