/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2016, 2:24:26 PM
    Author     : mattpeternell
*/

/*.page-template-home-page-templates header nav {
    
    @media (min-width: 1025px) {
        display: none;
    }
    @media (max-width: 1024px) {
        display: block;
    }
}*/

.current-menu-item {
    a {
        opacity: 0.65;
        &::before {
            background: rgba(0, 0, 0, 0) url("/wp-content/themes/WP_Aston_Manor_Theme/assets/images/AM_key_white.png") no-repeat scroll 0 0;
            background-size: 100% auto;
            content: "";
            display: block;
            position: absolute;
            @media (min-width: 1281px) {
                height: 20px;
                left: -11px;
                top: -2px;
                width: 40px;
            }
/*            @media (max-width: 1280px) {
                height: 15px;
                left: 26px;
                top: 38px;
                width: 30px;
            }*/
            @media (max-width: 1280px) {
                display: none;
            }
        }
    }
}


ul#js-navigation-menu {
    background-color: rgba(0, 0, 0, 0);
}
header.navigation .navigation-tools.show-all {
    display: block;
}

header.navigation {
    background-color: rgba(0,0,0,0.85);
    @include media ($horizontal-bar-mode) {
        background-color: rgba(0,0,0,0.65);
    }
    border-bottom: 1px solid darken($navigation-background, 10);
    width: 100%;
    position: $navigation-position;
    z-index: $navigation-zindex;
    top: 0;

    .navigation-wrapper {
        @include clearfix;
        @include outer-container($refills-max-width);
        position: relative;
        //z-index: 9999;
    }

    .logo {
        float: left;
        max-height: $navigation-height;
        padding-left: $navigation-padding;
        padding-right: $navigation-padding;
        padding-top: $navigation-padding;

        img {

            padding: 0.8em 0;
            @media (min-width: 1281px) {
                line-height: $navigation-height;
                //margin-top: 1.5em;
            }
            @media (min-width: 681px) and (max-width: 1280px) {
                width: auto;
                max-height: $navigation-height/2;
                padding: 0;
            }
            @media (max-width: 680px) {
                width: auto;
                max-height: $navigation-height/3;
                padding: 0;
            }
        }
    }

    // Mobile view

    .navigation-menu-button {
        color: $navigation-color;
        display: block;
        float: right;
        @media (min-width: 1281px) {
            line-height: $navigation-height;
        }
        @media (max-width: 1280px) {
            line-height: 100px;
        }

        margin: 0;
        padding-right: 1em;
        text-decoration: none;
        text-transform: uppercase;

        @include media ($horizontal-bar-mode) {
            display: none;
        }

        &:focus,
            &:hover {
            color: $navigation-color-hover;
        }
    }

    // Nav menu

    nav {
        float: none;
        @media (max-width: 680px) {
            min-height: $navigation-height/2;
        }
        z-index: 9999999;
        @media (min-width: 1601px) {
            float: left;
            margin-left: 15%;
        }
        @media (min-width: 1441px) and (max-width: 1600px) {
            float: left;
            margin-left: 8%;
        }
        @media (min-width: 1281px) and (max-width: 1440px) {
            float: left;
            margin-left: 0;
        }
        @media (min-width: 1025px) and (max-width: 1280px) {
            clear: both;
            float: left;
            margin-left: 0;
        }
        @media (max-width: 1024px) {
            display: block;
            width: 100%;
        }
    }

    ul.navigation-menu {
        clear: both;
        display: none;
        margin: 0 auto;
        overflow: visible;
        padding: 0;
        width: 100%;
        z-index: 9999;
        &.show {
            //display: block;
        }
        @include media ($horizontal-bar-mode) {
            display: block;
            margin: 0;
            padding: 0;
        }
    }

    // The nav items
    //ul li.nav-link
    ul li {
        //background: $navigation-background;
        display: block;
        position: relative;
        @media (min-width: 681px) {
            line-height: floor($navigation-height/2);
        }
        @media (max-width: 680px) {
            line-height: floor($navigation-height/3);
        }
        overflow: hidden;
        @media (min-width: 981px) {
            padding-right: 1em;
            padding-left: 1em;
        }
        @media (max-width: 769px) and (max-width: 980px) {
            padding-right: 3em;
            padding-left: 3em;
        }
        @media (max-width: 768px) {
            padding-right: 1em;
            padding-left: 1em;
        }

        text-align: left;
        width: 100%;
        z-index: 9999;

        @include media ($horizontal-bar-mode) {
            background: transparent;
            display: inline;
            line-height: $navigation-height;
            text-decoration: none;
            width: auto;
        }

        a { 
            color: #fff;
            @include media ($horizontal-bar-mode) {
                color: $navigation-color;
            }
            display: inline-block;
            text-decoration: none;
            font-size: 1.5em;
            @media (min-width: 1281px) {
                padding-right: 1em;
                padding-left: 1em;
            }
            @media (max-width: 1280px) {
                padding-right: 0.5em;
                padding-left: 0.5em;
            }

            &:focus,
                &:hover {
                color: $navigation-color-hover;
            }
        }
    }

    .active-nav-item a {
        border-bottom: 1px solid $navigation-active-link-color;
        padding-bottom: 3px;
    }

    // Sub menus

    li.more.nav-link {
        padding-right: 0;

        @include media($horizontal-bar-mode) {
            padding-right: $navigation-submenu-padding;
        }

        > ul > li:first-child a  {
            padding-top: 1em;
        }

        a {
            margin-right: $navigation-submenu-padding;
        }

        > a {
            padding-right: 0.6em;
        }

        > a::after {
            @include position(absolute, auto -0.4em auto auto);
            color: $navigation-color;
            content: "\25BE";
        }
    }

    li.more {
        overflow: visible;
        padding-right: 0;

        a {
            padding-right: 0.8em;
        }

        > a {
            padding-right: 1.6em;
            position: relative;

            @include media($horizontal-bar-mode) {
                margin-right: $navigation-submenu-padding;
            }

            &::after {
                content: "›";
                font-size: 1.2em;
                position: absolute;
                right: $navigation-submenu-padding / 2;
            }
        }

        &:focus > .submenu,
            &:hover > .submenu {
            display: block;
        }

        @include media($horizontal-bar-mode) {
            padding-right: 0.8em;
            position: relative;
        }
    }

    ul.submenu {
        display: none;
        padding-left: 0;

        @include media($horizontal-bar-mode) {
            left: -$navigation-submenu-padding;
            position: absolute;
            top: 1.5em;
        }

        .submenu.fly-out-right {
            @include media($horizontal-bar-mode) {
                left: $navigation-submenu-width - 0.2em;
                top: 0;
            }
        }

        .submenu.fly-out-left {
            @include media($horizontal-bar-mode) {
                left: -$navigation-submenu-width + 0.2em;
                top: 0;
            }
        }

        .submenu {
            @include media($horizontal-bar-mode) {
                left: $navigation-submenu-width - 0.2em;
                top: 0;
            }
        }

        li {
            display: block;
            padding-right: 0;

            @include media($horizontal-bar-mode) {
                line-height: $navigation-height / 1.3;

                &:first-child > a {
                    border-top-left-radius: $base-border-radius;
                    border-top-right-radius: $base-border-radius;
                }

                &:last-child > a {
                    border-bottom-left-radius: $base-border-radius;
                    border-bottom-right-radius: $base-border-radius;
                    padding-bottom: 0.7em;
                }
            }

            a {
                background-color: darken($navigation-background, 3%);
                display: inline-block;
                text-align: right;
                width: 100%;

                @include media($horizontal-bar-mode) {
                    background-color: $navigation-background;
                    padding-left: $navigation-submenu-padding;
                    text-align: left;
                    width: $navigation-submenu-width;
                }
            }
        }
    }

    // Elements on the far right

    .navigation-tools {
        background: rgba(0, 0, 0, 0);
        clear: both;
        display: block;
        height: $navigation-height;

        @include media($horizontal-bar-mode) {
            background: transparent;
            clear: none;
            float: right;
        }
        @media (max-width: 1280px) {
            display: none;
        }
    }

    // Search bar

    .search-bar {
        $search-bar-border-color: $base-border-color;
        $search-bar-border: 1px solid $search-bar-border-color;
        $search-bar-background: lighten($search-bar-border-color, 10%);

        float: left;
        padding: 0.85em 0.85em 0.7em 0.6em;
        width: 60%;

        form {
            position: relative;

            input[type=search] {
                background: $navigation-search-background;
                border: $navigation-search-border;
                border-radius: $base-border-radius * 2;
                box-sizing: border-box;
                color: $navigation-color;
                font-size: 0.9em;
                font-style: italic;
                margin: 0;
                padding: 0.5em 0.8em;
                width: 100%;

                @include media($horizontal-bar-mode) {
                    width: 100%;
                }
            }

            button[type=submit] {
                background: $navigation-search-background;
                border: 0;
                bottom: 0.3em;
                left: auto;
                outline: none;
                padding: 0 9px;
                position: absolute;
                right: 0.3em;
                top: 0.3em;

                img {
                    height: 12px;
                    opacity: 0.7;
                    padding: 1px;
                }
            }
        }

        @include media($horizontal-bar-mode) {
            display: inline-block;
            position: relative;
            width: 16em;

            input {
                box-sizing: border-box;
                display: block;
            }
        }
    }
}
