.single {
    .navigation {
        position: fixed;
        top: 0;
    }
    .entry-content {
        @media (min-width: 769px) {
            margin-bottom: 3em;
        }
        @media (max-width: 768px) {
            margin-top: 3em;
            text-align: justify;
            margin-bottom: 3em;
        }
    }
    .event-details {
        li {
            margin-bottom: 0.75em;
        }
        .fa {
            font-size: 1.5em;
            margin-right: 10px;
            width: 1em;
            &.fa-soundcloud {
                color: #f50;
            }
        }
        .acf-field {
            margin-left: 15px;
        }
    }
    .entry-content > ul {
        list-style: initial;
        margin-bottom: 10px;
        margin-left: 15px;
        margin-top: 10px;
        padding: 0;
    }

}

.site-navigation {
    max-width: 17.625em;
    &.post-navigation, &.paging-navigation {
        margin: 5em auto;
        overflow: auto;
        text-align: center;
        
        a {
            border: 2px solid #ffffff;
            display: block;
            font-size: 1.25em;
            font-weight: 600;
            padding: 0.5em 1em;
            text-transform: uppercase;
            &:hover {
                border-color: rgba(255, 255, 255, 0.7);
                color: rgba(255, 255, 255, 0.7);
            }
        }
        .nav-previous, .nav-next {
            display: block;
            float: left;
            @media (min-width: 769px) {
                margin: 0 0.5em; 
            }
            @media (max-width: 768px) {
                margin: 0 0 1em;
                width: 100%;
            }
        }
    }
}

.wp-caption-text {
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

/**
 * 8.0 - Alignments
 */

.alignleft {
    float: left;
    margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
    float: right;
    margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 1.75em;
}
@media (max-width: 680px) {
    img.alignleft, img.aligncenter, img.alignright {
        float: none;
        max-width: 100%;
        margin: 0px auto 1em;
    }
    img.alignnone {
        margin: 2em auto;
    }
}


/** Video player **/
.mejs-container {
    background: #000000 none repeat scroll 0 0;
    border: 1px solid #ffffff;
}

blockquote.alignleft {
    margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
    margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
    margin-bottom: 1.473684211em;
}

@media (max-width: 980px) {
    img.alignnone.size-large.wp-image-1124.img-responsive {
        margin: 4em auto 0;
    }
    h1, h2, h3, h4, h5, p {
        //text-align: center !important;
    }
}

